<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "NFL Rushing", suffix: " · Dylan Kendal" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="flex flex-col ext-base bg-primary text-fg font-body">
    <header class="p-5 bg-primary-light">
      <section class="flex flex-row-reverse justify-end ">
        <nav role="navigation">
          <ul></ul>
        </nav>
        <a href="/">
          <div
            style="background: url(<%= Routes.static_path(@conn, "/images/thescore-logo.svg") %>) 0 2px no-repeat;
                   width: 110px;
                   height: 24px;
                   background-size:
                   auto 190%;"
          ></div>
        </a>
      </section>
    </header>
    <div class="flex-grow"><%= @inner_content %></div>
    <footer class="flex flex-col self-end w-full py-10 mt-20 text-sm text-center space-y-2 bg-primary-light">
      <p>Built by Dylan Kendal</p>
      <p><a class="hover:opacity-50" href="https://github.com/dkendal/">https://github.com/dkendal/</a></p>
    </footer>
  </body>
</html>
